:root{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0;
    font-family:'Times New Roman', Times, serif
}
.bg-image{
    position: absolute;
    top: 0px;
    background:no-repeat fixed  center  url("https://i.postimg.cc/QMMwTzyS/glasses.jpg") rgba(198, 180, 147, 0.694); 
    background-blend-mode: color;
    height: 500px;
    width:100%;
    background-size:cover;
    z-index: -1;

}
header{
    height: 330px;
}
#titolo{
    height: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color:rgb(255, 255, 255);
    width: 100%;
    padding: 10px 50px;
    text-shadow: black 1px 1px;
    margin: 170px auto 100px;

    
}
h1{
    font-size: 80px;
    margin:0;

}
h2{
    font-size: 23px;
    margin: 0;
}
nav{
    z-index: 1;
    top: 0px;
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: rgba(226, 197, 104, 0.904);
    width: 100%;
    height: 40px;
    margin: 0 0;
}
li {
    list-style-type: none;
   width: 100%;
   text-align: center;
   line-height: 35px;
   justify-items: center;
   height: 40px;
   margin: 0 0;
}
li.nav-l:hover{
    animation-name: background-color;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}
    @keyframes background-color {
        100%{
            background-color:rgb(159, 121, 19);

        }
    
}
.nav-link{
    display: inline-block;     
    width: 100%;
    height: 100%;
    color: white;
    text-shadow: black 1px 1px;
}
#spec-img{
width: 20%;
background-color: violet;
margin:10px 0px;
}
#spec-desc{
    width: 60%;
    background-color: tomato;
    margin:10px 10px 10px 10px;

}
#specs{
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
#div-video{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 60%;
    margin:0 auto;

}
#div-pricing{

    display: flex;
    flex-direction: row;
    justify-content:space-between;


}
#container{
    margin: 10px 10%;
}
footer{
    background-color: grey;
    height: 100px;
}
#div-pricing>div{
    margin: 10px;
    height: 400px;
    width: 30%;
    background-color: thistle;

}

.list {
width: 100%;
display: flex;
margin: 0 0;
padding:0;

}
#header-img{
width: 4%;
}
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }
  #form{
    display: flex;
    width:100%;
    height: 100%;   
     justify-content:center;
     
  }
  #submit{
    height: 100%;
    width: 6%;
    min-width: 80px;
    max-width: 100px;
 
  }
  #email > label{
      height: 100%;
      width: 20%;
      min-width: 200px;
      max-width: 320px;
  }
  label>input{
      width: 100%;
      height: 100%;
      margin: 0;
  }
  #email-div{
      height: 8%
  }
  @media screen and (min-width: 821px) {
    h1 {
      font-size: 80px;
    }
    h2{
        font-size: 23px;
    }
  }
  @media screen and (max-width: 820px) and (min-width:601px) {
    h1 {
      font-size: 55px;
    }
    h2{
        font-size: 18px;
    }
    #titolo{
        margin: 100px auto 40px;
    }
    .bg-image{
        height: 400px;
    }
    header{
        height: 300px;
    }
  }
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 270%;
    }
    h2{
        font-size: 100%;
    }
    #titolo{
        margin: 100px auto 40px;
    }
  .bg-image{
        height: 300px;
    }
    header{
        height: 300px;
    }
    #div-video{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: auto;
        width: 100%;
        margin:0 auto;
    
    }
    #div-pricing{

        display: flex;
        flex-direction: column;
        justify-content:center;
    
    
    }
    #div-pricing>div{
        margin: 10px auto;
        height:300px;
        width: 80%;
        background-color: thistle;
    
    }
  }